$primary-color: var(--font-color);
$app-color: #4caf50;
$text-color: #383c41;
$vault-border-color: var(--bordercolor-main);
$border-color: #eeeeee;
$primary-green: #3ea254;
$primary-red: #ea0f0f;
$primary-blue: #182542;
$overlay-color: #000d;
$bond-color: #464b4e;
