.navContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding: 0px 20px;

  & > div {
    display: flex;
    gap: 1.5rem;

    & > .navContainerRightBtn {
      background: var(--background-color);
      border-radius: 25px;
      color: var(--font-color-opposite);
      font-weight: 600;
      font-size: 0.8rem;
      height: 40px;
      padding: 0.5rem 1rem;
    }
  }

  div {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #fff;
    cursor: pointer;
  }
  a {
    display: flex;
    align-items: center;
    height: 80px;
    // border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
    cursor: pointer;
  }
  // div:nth-child(1) {
  //   justify-content: flex-start;
  //   padding-left: 20px;
  //   img {
  //     width: 50px;
  //     height: 50px;
  //   }
  // }
  // div:nth-child(2) {
  //   justify-content: center;
  // }
  // a:nth-child(2) {
  //   justify-content: center;
  // }
  // div:nth-child(3) {
  //   justify-content: flex-end;
  //   padding-right: 20px;
  // }
}

.sectionNewsScrollParent {
  position: relative;
  // border-bottom: 1px solid var(--bordercolor-main);
  .sectionNewsScroll {
    height: 40px;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background: var(--theme-main);

    .title {
      width: max-content;
      padding: 7px 1rem;
      background: var(--background-color);
      border-radius: 35px;
      color: var(--font-color-opposite);
      font-size: 0.6rem !important;
      font-weight: 500;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: heartbeat 1.2s infinite;
    }

    & > div {
      // height: 34.4px !important;
      width: -webkit-fill-available;
      font-size: 0.8rem !important;

      & > div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        font-size: 0.9rem;
        padding: 0 3rem;

        & > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 2rem;
          padding-left: 2rem;
          transition: all ease-in 0.2s;

          & > :nth-child(2) {
            white-space: nowrap;
            text-decoration: underline;
            cursor: pointer;
          }

          &:hover {
            font-weight: 600;
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  // .sectionBorder {
  //   position: absolute;
  //   left: 0;
  //   bottom: -0.5px;
  //   height: 1px;
  //   background: var(--bordercolor-main);
  //   width: 100vw;
  //   left: calc(calc(-100vw + 100%) / 2);
  // }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5px;
    height: 1px;
    background: var(--bordercolor-main);
    width: 100vw;
    left: calc(calc(-100vw + 100%) / 2);
  }
}

.section1Parent {
  position: relative;
  height: 40px;
  .section1 {
    // border-bottom: 1px solid var(--bordercolor-main);
    height: 40px;
    display: flex;
    // padding-top: 10px;
    // overflow-x: scroll;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: calc(-50vw + 50%);
    width: 100vw;
    background: var(--theme-main);

    & > div {
      margin: 0;
      height: 100%;

      div {
        height: 100%;
      }
    }

    ul {
      display: flex;
      gap: 7rem;
      height: 100%;
    }

    li {
      display: block;
      height: 100%;
    }

    li > span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  .sectionBorder {
    position: absolute;
    left: 0;
    bottom: -0.5px;
    height: 1px;
    background: var(--bordercolor-main);
    width: 100vw;
    left: calc(calc(-100vw + 100%) / 2);
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   bottom: -0.5px;
  //   height: 1px;
  //   background: var(--bordercolor-main);
  //   width: 100vw;
  //   left: calc(calc(-100vw + 100%) / 2);
  // }
}

.filterType {
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  background: var(--highlight-color);
  border-radius: 35px;
  padding: 10px;
  margin: 5px 20px;
  // border-bottom: 1px solid var(--bordercolor-main);

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42.5%;
    padding: 0.75rem 0;
    cursor: pointer;
    border-radius: 35px;
    font-weight: 400;
    transition: all ease-in 0.2s;

    &:hover {
      background: rgb(229, 229, 229, 0.5);
      // align-items: flex-end;
    }
  }
}

.trendingSection {
  // height: 193px;
  padding: 20px;
  // padding-bottom: 20px;
  border-bottom: 0.5px solid #ebebeb;
  .trendingSectionTitle {
    font-size: 20px;
    font-weight: 700;
    padding-top: 29px;
    padding-bottom: 20px;
  }
  .trendingItems {
    // height: 100px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 13px;
  }

  .trendingItemsImg {
    aspect-ratio: 1/1;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    border-radius: 50%;
  }
  .trendingItemTitle {
    height: 30%;
    width: 100px;
    // padding-left: 25px;
    // background: rgba(0, 0, 0, 0.55);
    border-radius: 0px 0px 15px 15px;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    line-height: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    text-align: center;
    color: var(--font-color);
    margin-top: 10px;
  }
}

@keyframes heartbeat {
  0% {
    color: var(--font-color-opposite);
  }
  70% {
    color: #4b2a91;
  }

  100% {
    color: var(--font-color-opposite);
  }
}

@media (min-width: 800px) {
  .section1 {
    span {
      border: none !important;
    }
  }
}
